In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("Term_Deposit.xlsx", header=2)# Import the data and turn it into a DataFrame(The header was selected as two due to there is an explanation in the first row, and the columns were printed wrongly).
df.head()# Printed the first five rows of the DataFrame to see a concise view of the rows and columns.

,ID,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
0,1,45,management,married,secondary,no,1025,yes,no,cellular,12,may,365.0,2,76,3,success,yes,50000.0,10000.0
1,2,31,technician,single,tertiary,no,320,no,no,cellular,8,jun,210.0,1,-1,0,unknown,no,35000.0,5000.0
2,3,53,blue-collar,married,primary,no,-120,no,no,telephone,16,nov,185.0,3,92,2,failure,no,40000.0,8000.0
3,4,32,services,single,"""secondary""",no,452,yes,no,cellular,30,July,102.0,4,-1,0,unknown,no,45000.0,12000.0
4,5,29,admin.,single,secondary,no,-112,yes,no,cellular,14,aug,309.0,2,-1,0,unknown,yes,60000.0,15000.0

In [ ]:
df.info()# Printed the info (such as row counts, column counts, data types etc.) concerning the DataFrame to see if the non-null count and entires match or to see if there is a problem with Datatype.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID                                        115 non-null    int64
 1   Age of the customer                       115 non-null    int64
 2   ??What is the job of the customer??       115 non-null    object
 3   MARITUL                                   115 non-null    object
 4   EDUCTION                                  115 non-null    object
 5   default                                   115 non-null    object
 6   BALANCE                                   115 non-null    int64
 7   Does the customer have a housing loan ??  115 non-null    object
 8   loan                                      115 non-null    object
 9   contact                                   115 non-null    object
 10  //day                                     115 non-null    int64
 11  //month                                   115 non-null    object
 12  DURATION                                  113 non-null    float64
 13  CAMPAIGN                                  115 non-null    object
 14  pdays                                     115 non-null    int64
 15  previous                                  115 non-null    int64
 16  poutcome                                  115 non-null    object
 17  deposit                                   115 non-null    object
 18  income                                    113 non-null    float64
 19  loan_amount                               113 non-null    float64
dtypes: float64(3), int64(6), object(11)
memory usage: 18.1+ KB

In [ ]:
df.tail()#printed so we can get further insight into our data frame.

,ID,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
110,109,42,blue-collar,married,secondary,no,-139,yes,No,cellular,6,aug,215.0,2,-1,0,unknown,yes,50000.0,10000.0
111,110,51,technician,married,tertiary,no,1231,no,No,cellular,29,jul,114.0,2,-1,0,unknown,yes,75000.0,17000.0
112,111,34,blue-collar,married,primary,no,344,yes,No,cellular,14,may,172.0,"3,0",-1,0,unknown,no,40000.0,6000.0
113,112,50,management,divorced,tertiary,no,589,no,no,cellular,6,feb,189.0,2,-1,0,unknown,yes,90000.0,23000.0
114,113,37,technician,married,tertiary,no,155,yes,no,cellular,13,aug,238.0,2,-1,0,unknown,yes,60000.0,12000.0

In [ ]:
df = df.drop_duplicates(keep='first')#To delete the duplicates which have the same ID number.

In [ ]:
df = df.set_index("ID")#In our data, ID is used as an index, so we do not need another index; therefore, we change the index to ID.

In [ ]:
df.head()#To see whether ID became the index or not.

,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
ID,,,,,,,,,,,,,,,,,,,
1,45,management,married,secondary,no,1025,yes,no,cellular,12,may,365.0,2,76,3,success,yes,50000.0,10000.0
2,31,technician,single,tertiary,no,320,no,no,cellular,8,jun,210.0,1,-1,0,unknown,no,35000.0,5000.0
3,53,blue-collar,married,primary,no,-120,no,no,telephone,16,nov,185.0,3,92,2,failure,no,40000.0,8000.0
4,32,services,single,"""secondary""",no,452,yes,no,cellular,30,July,102.0,4,-1,0,unknown,no,45000.0,12000.0
5,29,admin.,single,secondary,no,-112,yes,no,cellular,14,aug,309.0,2,-1,0,unknown,yes,60000.0,15000.0

In [ ]:
df[df['Age of the customer']<0]#To detect an anomaly if it exists.

,Age of the customer,??What is the job of the customer??,MARITUL,EDUCTION,default,BALANCE,Does the customer have a housing loan ??,loan,contact,//day,//month,DURATION,CAMPAIGN,pdays,previous,poutcome,deposit,income,loan_amount
ID,,,,,,,,,,,,,,,,,,,
6,-36,unemployed,married,tertiary,no,882,yes,no,cellular,6,feb,173.0,2,-1,0,unknown,no,55000.0,9000.0
44,-38,management,divorced,tertiary,no,511,yes,no,cellular,28,aug,102.0,2,-1,0,unknown,yes,75000.0,18000.0

In [ ]:
df['Age of the customer'].loc[df['Age of the customer'] == -38] = 38 #Changes the negative thirty-eight to positive thirty-eight.
df['Age of the customer'].loc[df['Age of the customer'] == -36] = 36 #Changes the negative thirty-six to positive thirty-six.
df[df['Age of the customer']<0]#To see if the negative number changed or not.

<ipython-input-12-0853e057a10a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age of the customer'].loc[df['Age of the customer'] == -38] = 38 #Changes the negative thirty-eight to positive thirty-eight.
<ipython-input-12-0853e057a10a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age of the customer'].loc[df['Age of the customer'] == -36] = 36 #Changes the negative thirty-six to positive thirty-six.

Empty DataFrame
Columns: [Age of the customer, ??What is the job of the customer??, MARITUL, EDUCTION, default, BALANCE, Does the customer have a housing loan ??, loan, contact, //day, //month, DURATION, CAMPAIGN, pdays, previous, poutcome, deposit, income, loan_amount]
Index: []

In [ ]:
#Changes the name of the columns to more meaningful names or fixes the typos.
df.rename(columns = {'??What is the job of the customer??': 'Customers Job'},inplace=True)
df.rename(columns = {'Does the customer have a housing loan ??': 'House Loan'},inplace=True)
df.rename(columns = {'Age of the customer': 'Customers Age'},inplace=True)
df.rename(columns = {'default': 'Credit Card'},inplace=True)
df.rename(columns = {'BALANCE': 'Balance'},inplace=True)
df.rename(columns = {'loan': 'Personal Loan'},inplace=True)
df.rename(columns = {'contact': 'Contact Type'},inplace=True)
df.rename(columns = {'MARITUL': 'Marital Status'},inplace=True)
df.rename(columns = {'EDUCTION': 'Education Level'},inplace=True)
df= df.rename(columns={"//day":"Day","//month":"Month","DURATION":"Duration","CAMPAIGN":"Ncampaign","pdays":"Pdays","previous":"Nprevious","poutcome":"Poutcome","deposit":"Deposit","income":"Income","loan_amount":"Loan_amount"})

In [ ]:
df.info()#To see whether the names of the columns changed or not.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    113 non-null    int64
 1   Customers Job    113 non-null    object
 2   Marital Status   113 non-null    object
 3   Education Level  113 non-null    object
 4   Credit Card      113 non-null    object
 5   Balance          113 non-null    int64
 6   House Loan       113 non-null    object
 7   Personal Loan    113 non-null    object
 8   Contact Type     113 non-null    object
 9   Day              113 non-null    int64
 10  Month            113 non-null    object
 11  Duration         111 non-null    float64
 12  Ncampaign        113 non-null    object
 13  Pdays            113 non-null    int64
 14  Nprevious        113 non-null    int64
 15  Poutcome         113 non-null    object
 16  Deposit          113 non-null    object
 17  Income           111 non-null    float64
 18  Loan_amount      111 non-null    float64
dtypes: float64(3), int64(5), object(11)
memory usage: 17.7+ KB

In [ ]:
df['Customers Job'] = df['Customers Job'].str.replace('-' , '',regex=True)
df['Customers Job'] = df['Customers Job'].str.replace('_' , '',regex=True)
df['Customers Job'] = df['Customers Job'].str.replace('.','',regex=True)
#Three of the above fixes the wrongly typed variables to ensure uniformity.
df['Customers Job'] = df['Customers Job'].str.title() #Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
print(df['Customers Job'].value_counts())#To see whether the variables changed or not.

Bluecollar      26
Technician      23
Management      19
Admin           17
Services         8
Retired          8
Student          6
Entrepreneur     4
Unemployed       2
Name: Customers Job, dtype: int64

In [ ]:
df['Marital Status'] = df['Marital Status'].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
print(df['Marital Status'].value_counts())#To see whether the variables changed or not.

Married     58
Single      42
Divorced    13
Name: Marital Status, dtype: int64

In [ ]:
df['Education Level'] = df['Education Level'].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['Education Level'] = df['Education Level'].str.replace('"','',regex=True)#Fixes the wrongly typed variables to ensure uniformity.
print(df['Education Level'].value_counts())#To see whether the variables changed or not.

Tertiary     60
Secondary    38
Primary      15
Name: Education Level, dtype: int64

In [ ]:
df['Credit Card'] = df['Credit Card'].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['Credit Card'].unique()#To see whether the variables changed or not.

array(['No'], dtype=object)

In [ ]:
df['House Loan'] = df['House Loan'].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['House Loan'] = df['House Loan'].str.replace(' ','',regex=True)#Fixes the wrongly typed variables to ensure uniformity.
print(df['House Loan'].value_counts())#To see whether the variables changed or not.

Yes    73
No     40
Name: House Loan, dtype: int64

In [ ]:
df['Personal Loan'] = df['Personal Loan'].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['Personal Loan'] = df['Personal Loan'].str.replace(' ','',regex=True)#Fixes the wrongly typed variables to ensure uniformity.
print(df['Personal Loan'].value_counts())#To see whether the variables changed or not.

No     109
Yes      4
Name: Personal Loan, dtype: int64

In [ ]:
df['Contact Type'] = df['Contact Type'].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['Contact Type'] = df['Contact Type'].str.replace(' ','',regex=True)#Fixes the wrongly typed variables to ensure uniformity.
print(df['Contact Type'].value_counts())#To see whether the variables changed or not.

Cellular     109
Telephone      4
Name: Contact Type, dtype: int64

In [ ]:
value_counts = df["Pdays"].value_counts()
print(value_counts[value_counts > 1])#Pdays is a unique column that has lots of -1 as a value, so to detect duplicates, we printed the values that have more than two people have that value.

-1      101
 76       2
 92       2
 165      2
 234      2
 98       2
Name: Pdays, dtype: int64

In [ ]:
#To locate the index who we suspect as duplicates (so we can further analyze them to see whether they are duplicates).
print(df['Pdays'].loc[df['Pdays'] == 76])
print(df['Pdays'].loc[df['Pdays'] == 92])
print(df['Pdays'].loc[df['Pdays'] == 165])
print(df['Pdays'].loc[df['Pdays'] == 234])
print(df['Pdays'].loc[df['Pdays'] == 98])

ID
1     76
21    76
Name: Pdays, dtype: int64
ID
3     92
23    92
Name: Pdays, dtype: int64
ID
7     165
27    165
Name: Pdays, dtype: int64
ID
16    234
36    234
Name: Pdays, dtype: int64
ID
19    98
39    98
Name: Pdays, dtype: int64

In [ ]:
#To compare them with each other and see whether they are duplicates.
print(df.loc[19])
print(df.loc[39])

Customers Age              47
Customers Job      Technician
Marital Status        Married
Education Level     Secondary
Credit Card                No
Balance                  1128
House Loan                Yes
Personal Loan              No
Contact Type         Cellular
Day                         7
Month                     apr
Duration                190.0
Ncampaign                   1
Pdays                      98
Nprevious                   2
Poutcome              success
Deposit                   yes
Income                75000.0
Loan_amount           16000.0
Name: 19, dtype: object
Customers Age              47
Customers Job      Technician
Marital Status        Married
Education Level     Secondary
Credit Card                No
Balance                  1128
House Loan                Yes
Personal Loan              No
Contact Type         Cellular
Day                         7
Month                     apr
Duration                190.0
Ncampaign                   1
Pdays                      98
Nprevious                   2
Poutcome              success
Deposit                   yes
Income                75000.0
Loan_amount           16000.0
Name: 39, dtype: object

In [ ]:
#To compare them with each other and see whether they are duplicates.
print(df.loc[16])
print(df.loc[36])

Customers Age             24
Customers Job        Student
Marital Status        Single
Education Level    Secondary
Credit Card               No
Balance                  356
House Loan                No
Personal Loan             No
Contact Type        Cellular
Day                        9
Month                    may
Duration                68.0
Ncampaign                  1
Pdays                    234
Nprevious                  3
Poutcome             success
Deposit                   no
Income               30000.0
Loan_amount           5000.0
Name: 16, dtype: object
Customers Age             24
Customers Job        Student
Marital Status        Single
Education Level    Secondary
Credit Card               No
Balance                  356
House Loan                No
Personal Loan             No
Contact Type        Cellular
Day                        9
Month                    may
Duration                68.0
Ncampaign                  1
Pdays                    234
Nprevious                  3
Poutcome             success
Deposit                   no
Income               30000.0
Loan_amount           5000.0
Name: 36, dtype: object

In [ ]:
#To compare them with each other and see whether they are duplicates.
print(df.loc[7])
print(df.loc[27])

Customers Age              41
Customers Job      Management
Marital Status       Divorced
Education Level      Tertiary
Credit Card                No
Balance                   510
House Loan                Yes
Personal Loan             Yes
Contact Type        Telephone
Day                        12
Month                     may
Duration                249.0
Ncampaign                   1
Pdays                     165
Nprevious                   3
Poutcome              failure
Deposit                   yes
Income                70000.0
Loan_amount           20000.0
Name: 7, dtype: object
Customers Age              41
Customers Job      Management
Marital Status       Divorced
Education Level      Tertiary
Credit Card                No
Balance                   510
House Loan                Yes
Personal Loan             Yes
Contact Type        Telephone
Day                        12
Month                     may
Duration                249.0
Ncampaign                   1
Pdays                     165
Nprevious                   3
Poutcome              failure
Deposit                   yes
Income                70000.0
Loan_amount           20000.0
Name: 27, dtype: object

In [ ]:
#To compare them with each other and see whether they are duplicates.
print(df.loc[3])
print(df.loc[23])

Customers Age              53
Customers Job      Bluecollar
Marital Status        Married
Education Level       Primary
Credit Card                No
Balance                  -120
House Loan                 No
Personal Loan              No
Contact Type        Telephone
Day                        16
Month                     nov
Duration                185.0
Ncampaign                   3
Pdays                      92
Nprevious                   2
Poutcome              failure
Deposit                    no
Income                40000.0
Loan_amount            8000.0
Name: 3, dtype: object
Customers Age              53
Customers Job      Bluecollar
Marital Status        Married
Education Level       Primary
Credit Card                No
Balance                  -120
House Loan                 No
Personal Loan              No
Contact Type        Telephone
Day                        16
Month                     nov
Duration                185.0
Ncampaign                   3
Pdays                      92
Nprevious                   2
Poutcome              failure
Deposit                    no
Income                40000.0
Loan_amount            8000.0
Name: 23, dtype: object

In [ ]:
#To compare them with each other and see whether they are duplicates.
print(df.loc[1])
print(df.loc[21])

Customers Age              45
Customers Job      Management
Marital Status        Married
Education Level     Secondary
Credit Card                No
Balance                  1025
House Loan                Yes
Personal Loan              No
Contact Type         Cellular
Day                        12
Month                     may
Duration                365.0
Ncampaign                   2
Pdays                      76
Nprevious                   3
Poutcome              success
Deposit                   yes
Income                50000.0
Loan_amount           10000.0
Name: 1, dtype: object
Customers Age              45
Customers Job      Management
Marital Status        Married
Education Level     Secondary
Credit Card                No
Balance                  1025
House Loan                Yes
Personal Loan              No
Contact Type         Cellular
Day                        12
Month                     may
Duration                365.0
Ncampaign                   2
Pdays                      76
Nprevious                   3
Poutcome              success
Deposit                   yes
Income                50000.0
Loan_amount           10000.0
Name: 21, dtype: object

In [ ]:
df = df.drop(index=[21, 23, 27, 36, 39])#To delete the duplicates from the dataframe.

In [ ]:
df.info()#To see whether they are deleted or not.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    108 non-null    int64
 1   Customers Job    108 non-null    object
 2   Marital Status   108 non-null    object
 3   Education Level  108 non-null    object
 4   Credit Card      108 non-null    object
 5   Balance          108 non-null    int64
 6   House Loan       108 non-null    object
 7   Personal Loan    108 non-null    object
 8   Contact Type     108 non-null    object
 9   Day              108 non-null    int64
 10  Month            108 non-null    object
 11  Duration         106 non-null    float64
 12  Ncampaign        108 non-null    object
 13  Pdays            108 non-null    int64
 14  Nprevious        108 non-null    int64
 15  Poutcome         108 non-null    object
 16  Deposit          108 non-null    object
 17  Income           106 non-null    float64
 18  Loan_amount      106 non-null    float64
dtypes: float64(3), int64(5), object(11)
memory usage: 16.9+ KB

In [ ]:
#To detect the index of the rows with a null value in their Income column.
missing_values = df["Income"].isnull()
print(df["Income"][missing_values])

ID
11   NaN
35   NaN
Name: Income, dtype: float64

In [ ]:
df["Income"] = df["Income"].fillna(0)#In the next step, we want to change the Income column from float type to int, so temporarily, we change the nulls to 0.

In [ ]:
df["Income"] = df["Income"].astype("int")#Income is a numeric variable, so we change it to the datatype of int.

In [ ]:
technician_income = df[df["Customers Job"] == "Technician"]["Income"].mean()
print(f"Mean income for Technicians: {technician_income}")#The person who has the 11 as its index is a technician, so we want to change the null to the mean of technicians to gain more meaningful visualizations.

Mean income for Technicians: 60000.0

In [ ]:
df.loc[11, "Income"] = 60000 #To change the null number to the Mean of technicians.

In [ ]:
technician_income = df[df["Customers Job"] == "Management"]["Income"].mean()
print(f"Mean income for Management: {technician_income}")#The person who has the 35 as its index is a Management type, so we want to change the null to the mean of Management to gain more meaningful visualizations.

Mean income for Management: 71470.58823529411

In [ ]:
df.loc[35, "Income"] = 71470 #To change the null number to the Mean of management.

In [ ]:
#To detect the index of the rows with a null value in their Loan_amount column.
missing_values2 = df["Loan_amount"].isnull()
print(df["Loan_amount"][missing_values2])

ID
11   NaN
35   NaN
Name: Loan_amount, dtype: float64

In [ ]:
df["Loan_amount"] = df["Loan_amount"].fillna(0) #In the next step, we want to change the Loan_amount column from float type to int, so temporarily, we change the nulls to 0.

In [ ]:
df["Loan_amount"] = df["Loan_amount"].astype("int") #Loan_amount is a numeric variable, so we change it to the datatype of int.

In [ ]:
technician_income = df[df["Customers Job"] == "Technician"]["Loan_amount"].mean()
print(f"Mean loan amount for Technicians: {technician_income}") #The person who has the 11 as its index is a technician, so we want to change the null to the mean of technicians to gain more meaningful visualizations.

Mean loan amount for Technicians: 13500.0

In [ ]:
df.loc[11, "Loan_amount"] = 13500 #To change the null number to the Mean of technicians.

In [ ]:
technician_income = df[df["Customers Job"] == "Management"]["Loan_amount"].mean()
print(f"Mean loan amount for Management: {technician_income}")#The person who has the 35 as its index is a Management type, so we want to change the null to the mean of Management to gain more meaningful visualizations.

Mean loan amount for Management: 17176.470588235294

In [ ]:
df.loc[35, "Loan_amount"] = 17176 #To change the null number to the Mean of management.

In [ ]:
df.info()#To see if the null values are gone.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    108 non-null    int64
 1   Customers Job    108 non-null    object
 2   Marital Status   108 non-null    object
 3   Education Level  108 non-null    object
 4   Credit Card      108 non-null    object
 5   Balance          108 non-null    int64
 6   House Loan       108 non-null    object
 7   Personal Loan    108 non-null    object
 8   Contact Type     108 non-null    object
 9   Day              108 non-null    int64
 10  Month            108 non-null    object
 11  Duration         106 non-null    float64
 12  Ncampaign        108 non-null    object
 13  Pdays            108 non-null    int64
 14  Nprevious        108 non-null    int64
 15  Poutcome         108 non-null    object
 16  Deposit          108 non-null    object
 17  Income           108 non-null    int64
 18  Loan_amount      108 non-null    int64
dtypes: float64(1), int64(7), object(11)
memory usage: 20.9+ KB

In [ ]:
df["Month"] = df["Month"].str.replace("April", "Apr")
df["Month"] = df["Month"].str.replace("November","Nov")
df["Month"] = df["Month"].str.replace("July","Jul")
#Three of the above fixes the wrongly typed variables to ensure uniformity.
df["Month"]= df["Month"].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df["Month"].unique()#To see whether the variables changed or not.

array(['May', 'Jun', 'Nov', 'Jul', 'Aug', 'Feb', 'Jan', 'Apr', 'Sep',
       'Mar', 'Oct'], dtype=object)

In [ ]:
df["Duration"].mean().astype(int)#In the next step, we want to change the null variables to the mean of the duration column to find its mean.

203

In [ ]:
df["Duration"]= df["Duration"].fillna(203)#Changes the na values to the mean of duration, which is 203
df["Duration"]=df["Duration"].astype(int)#To change the Duration from float to int due to being a numeric variable.

In [ ]:
df["Ncampaign"]=df["Ncampaign"].replace("2,0","2")
df["Ncampaign"]=df["Ncampaign"].replace("3,0","3")
df["Ncampaign"]=df["Ncampaign"].replace("1,0","1")
#Three of the above fixes the wrongly typed variables to ensure uniformity.
df["Ncampaign"]=df["Ncampaign"].astype(int)#To change the Ncampagin from object to int due to being a numeric variable.

In [ ]:
df["Poutcome"]= df["Poutcome"].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['Poutcome'].unique()#To see whether the variables changed or not.

array(['Success', 'Unknown', 'Failure'], dtype=object)

In [ ]:
df["Deposit"]=df["Deposit"].str.title()#Changes all the variables into the same format, with the first letter being uppercase and others being lowercase.
df['Deposit'].unique()#To see whether the variables changed or not.

array(['Yes', 'No'], dtype=object)

In [ ]:
df.info()#To double-check whether there is a problem in the data and to ensure whether the changes occurred.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 1 to 113
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    108 non-null    int64
 1   Customers Job    108 non-null    object
 2   Marital Status   108 non-null    object
 3   Education Level  108 non-null    object
 4   Credit Card      108 non-null    object
 5   Balance          108 non-null    int64
 6   House Loan       108 non-null    object
 7   Personal Loan    108 non-null    object
 8   Contact Type     108 non-null    object
 9   Day              108 non-null    int64
 10  Month            108 non-null    object
 11  Duration         108 non-null    int64
 12  Ncampaign        108 non-null    int64
 13  Pdays            108 non-null    int64
 14  Nprevious        108 non-null    int64
 15  Poutcome         108 non-null    object
 16  Deposit          108 non-null    object
 17  Income           108 non-null    int64
 18  Loan_amount      108 non-null    int64
dtypes: int64(9), object(10)
memory usage: 20.9+ KB

In [ ]:
df["Day"] = df["Day"].astype(str)#In the next step, we are going to merge the Day column with the Month column due to the Day column being meaningless on its own(it does not provide meaningful information).

In [ ]:
df["Date"] = df["Month"] + "-" + df["Day"]#Merges the Day column with the Month column and creates a new column that contains both information.

In [ ]:
df.pop("Day")#With the new date column, we do not need the day column, so we are deleting it.

ID
1      12
2       8
3      16
4      30
5      14
       ..
109     6
110    29
111    14
112     6
113    13
Name: Day, Length: 108, dtype: object

In [ ]:
df.pop("Credit Card")#Due to all of the data is no we deleted it(it does not provide any meaningful information)

ID
1      No
2      No
3      No
4      No
5      No
       ..
109    No
110    No
111    No
112    No
113    No
Name: Credit Card, Length: 108, dtype: object

In [ ]:
df.info()#To see the final version of the dataframe.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 1 to 113
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customers Age    108 non-null    int64
 1   Customers Job    108 non-null    object
 2   Marital Status   108 non-null    object
 3   Education Level  108 non-null    object
 4   Balance          108 non-null    int64
 5   House Loan       108 non-null    object
 6   Personal Loan    108 non-null    object
 7   Contact Type     108 non-null    object
 8   Month            108 non-null    object
 9   Duration         108 non-null    int64
 10  Ncampaign        108 non-null    int64
 11  Pdays            108 non-null    int64
 12  Nprevious        108 non-null    int64
 13  Poutcome         108 non-null    object
 14  Deposit          108 non-null    object
 15  Income           108 non-null    int64
 16  Loan_amount      108 non-null    int64
 17  Date             108 non-null    object
dtypes: int64(8), object(10)
memory usage: 20.1+ KB

In [ ]:
((df['Balance'] - df['Balance'].mean()) / df['Balance'].std()).sort_values()#To detect the outliers by their z-scores(code calculates the z-score of all the variables then prints it by sorted from lowest to biggest).

ID
58    -1.441717
103   -1.441717
86    -1.346239
109   -1.335631
56    -1.335631
         ...
14     1.664499
13     1.726030
33     1.726030
93     1.813021
92     3.257921
Name: Balance, Length: 108, dtype: float64

In [ ]:
df['Balance'].mean().astype(int)#To find the mean of the column Balance, we can change the outlier to the mean of Balance.

490

In [ ]:
df.loc[92, "Balance"] = 490#Changes the outlier to mean of Balance (3,25 considered as outlier due to z-score being bigger than 3)

In [ ]:
((df['Loan_amount'] - df['Loan_amount'].mean()) / df['Loan_amount'].std()).sort_values()#To detect the outliers by their z-scores(code calculates the z-score of all the variables then prints it by sorted from lowest to biggest).

ID
53    -1.689051
106   -1.689051
46    -1.511373
16    -1.333695
94    -1.333695
         ...
52     1.686826
112    1.864504
69     1.864504
42     2.219859
92     2.219859
Name: Loan_amount, Length: 108, dtype: float64

In [ ]:
((df['Income'] - df['Income'].mean()) / df['Income'].std()).sort_values()#To detect the outliers by their z-scores(code calculates the z-score of all the variables then prints it by sorted from lowest to biggest).

ID
106   -1.851864
53    -1.851864
16    -1.851864
46    -1.725380
2     -1.535653
         ...
78     1.626453
112    1.942663
92     1.942663
69     1.942663
42     1.942663
Name: Income, Length: 108, dtype: float64

In [ ]:
((df['Duration'] - df['Duration'].mean()) / df['Duration'].std()).sort_values()#To detect the outliers by their z-scores(code calculates the z-score of all the variables then prints it by sorted from lowest to biggest).

ID
16   -1.768986
83   -1.638878
73   -1.560814
91   -1.521781
28   -1.508770
        ...
9     1.795972
29    1.795972
1     2.095220
77    2.407479
49    2.498555
Name: Duration, Length: 108, dtype: float64

In [ ]:
df.to_excel("Term_Deposit_Cleaned.xlsx", index=True)#To save the last version of the data frame as an Excel file so we can give it to those who will make the visualization